/* ==========================================================================
  IMPORTS
========================================================================== */
/* ==========================================================================
  MEDIA QUERY MANAGER
========================================================================== */
/*
**  Desktop first approach = Desktop Styling zuerst und dann Mobile Styling
**  mit (max-width) Styling properties !!!
*/
/* ==========================================================================
  COLOR VARIABLES
========================================================================== */
/* ==========================================================================
  FONT VARIABLES
========================================================================== */
/* ==========================================================================
  BASIC BODY STYLING
========================================================================== */
html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background-color: #F8F8F8;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0;
  padding: 1% 3% 0 3%;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    body {
      padding: 0; } }

/* ################################################## */
/* ==========================================================================
  HEADER STYLING
========================================================================== */
header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    header {
      display: none; } }
  header .header_logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem; }
  header nav {
    align-self: center; }
    header nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row; }
      header nav ul li {
        margin: 0 0 0 25px;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 1px; }
        header nav ul li a {
          text-decoration: none;
          color: #000; }

/* ==========================================================================
  LANDING WALLPAPER STYLING
========================================================================== */
.wallpaper {
  width: 100%;
  height: 70vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("https://img0.oastatic.com/img2/24975506/max/ahrweiler-mit-rotweinwanderweg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    .wallpaper {
      height: 50vh; } }
  .wallpaper-heading {
    padding: 50px 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backdrop-filter: blur(4px);
    color: #F8F8F8;
    /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
    @media (max-width: 1029px) {
      .wallpaper-heading {
        width: 65%;
        margin: 0 auto;
        padding: 45px 0; } }
    .wallpaper-heading h1 {
      width: 100%;
      margin: 0 0 10px 0;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
      @media (max-width: 1029px) {
        .wallpaper-heading h1 {
          font-size: 2rem; } }
    .wallpaper-heading h2 {
      margin: 0;
      font-size: 2rem;
      letter-spacing: 1px;
      /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
      @media (max-width: 1029px) {
        .wallpaper-heading h2 {
          font-size: 1.5rem; } }

/* ==========================================================================
  LANDING INFO STYLING
========================================================================== */
.landing-info {
  width: 80%;
  margin: 17.5vh 10vw;
  display: flex;
  flex-direction: row;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    .landing-info {
      width: 90%;
      margin: 7.5vh 5vw 5vh 5vw;
      padding: 0; } }
  .landing-info_col-1 {
    width: 45%;
    /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
    @media (max-width: 1029px) {
      .landing-info_col-1 {
        width: 100%; } }
    .landing-info_col-1 h1 {
      margin: 0 0 30px 0;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .landing-info_col-1 h2 {
      margin: 35px 0 15px 0;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .landing-info_col-1 p {
      line-height: 1.9;
      letter-spacing: 1px;
      text-align: justify; }
    .landing-info_col-1 a {
      display: block;
      text-decoration: none;
      color: #000;
      letter-spacing: 1px;
      margin: 25px 0 0 0; }
  .landing-info_col-2 {
    width: 45%;
    align-items: center;
    position: relative;
    /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
    @media (max-width: 1029px) {
      .landing-info_col-2 {
        display: none; } }
    .landing-info_col-2_row {
      width: 100%;
      align-items: center; }
      .landing-info_col-2_row img {
        width: 360px;
        height: 220px;
        position: absolute;
        box-shadow: 10px 20px 20px #888888;
        transition: .3s all; }
        .landing-info_col-2_row img:nth-of-type(1) {
          top: 10%;
          left: 30%; }
        .landing-info_col-2_row img:nth-of-type(2) {
          top: 20%;
          left: 65%; }
        .landing-info_col-2_row img:nth-of-type(3) {
          top: 40%;
          left: 47.5%; }
        .landing-info_col-2_row img:hover {
          z-index: 999;
          transform: scale(1.05); }

/* ==========================================================================
  LANDING SERVICE STYLING
========================================================================== */
.landing-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F0F0F0;
  padding: 60px;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    .landing-service {
      padding: 0;
      flex-direction: column; } }
  .landing-service_col-1 {
    width: 52%;
    /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
    @media (max-width: 1029px) {
      .landing-service_col-1 {
        width: 90%;
        margin: 5vh 5vw 2.5vh 5vw; } }
    .landing-service_col-1 h1 {
      margin: 0 0 30px 0;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .landing-service_col-1 p {
      line-height: 1.9;
      letter-spacing: 1px;
      text-align: justify; }
  .landing-service_col-2 {
    width: 40%;
    height: 100%;
    align-self: center;
    /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
    @media (max-width: 1029px) {
      .landing-service_col-2 {
        width: 90%;
        margin: 2.5vh 5vw 3vh 5vw; } }
    .landing-service_col-2_row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      .landing-service_col-2_row .item {
        width: 30%;
        height: 100px;
        text-align: center;
        align-self: center; }
        .landing-service_col-2_row .item i {
          font-size: 2.3rem; }
        .landing-service_col-2_row .item:nth-of-type(1), .landing-service_col-2_row .item:nth-of-type(2), .landing-service_col-2_row .item:nth-of-type(3) {
          margin: 0 0 30px 0; }

/* ==========================================================================
  LANDING APPARTMENTS STYLING
========================================================================== */
.landing-appartments {
  width: 80%;
  margin: 17.5vh 10vw;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    .landing-appartments {
      width: 90%;
      margin: 7.5vh 5vw; } }
  .landing-appartments h1 {
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .landing-appartments_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
    @media (max-width: 1029px) {
      .landing-appartments_row {
        flex-direction: column; } }
    .landing-appartments_row a {
      width: 46%;
      text-decoration: none;
      color: #000;
      /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
      @media (max-width: 1029px) {
        .landing-appartments_row a {
          width: 100%;
          margin: 5vh 0; } }
      .landing-appartments_row a .appartment {
        padding: 0 0 20px 0; }
        .landing-appartments_row a .appartment_image-gallery {
          width: 100%;
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-rows: 3;
          grid-gap: 15px;
          transition: .3s all; }
          .landing-appartments_row a .appartment_image-gallery .img-big {
            background-color: red;
            grid-column: 1/2;
            grid-row: 1/3; }
            .landing-appartments_row a .appartment_image-gallery .img-big img {
              width: 100%;
              height: 100%; }
          .landing-appartments_row a .appartment_image-gallery .img-small {
            background-color: yellow;
            grid-column: 2/3;
            height: 150px; }
            .landing-appartments_row a .appartment_image-gallery .img-small img {
              width: 100%;
              height: 100%; }
          .landing-appartments_row a .appartment_image-gallery .img-big, .landing-appartments_row a .appartment_image-gallery .img-small {
            transition: .3s all; }
            .landing-appartments_row a .appartment_image-gallery .img-big:hover, .landing-appartments_row a .appartment_image-gallery .img-small:hover {
              transform: scale(1.05); }
        .landing-appartments_row a .appartment_text h2 {
          margin: 10px 0 0 0;
          line-height: 1.9;
          letter-spacing: 1px; }
        .landing-appartments_row a .appartment_text p {
          margin: 0;
          line-height: 1.1;
          letter-spacing: 1px; }

/* ==========================================================================
  LANDING TESTIMONIAL STYLING
========================================================================== */
.landing-testimonials {
  width: 100%;
  margin: 10vh 0 1vh 0;
  position: relative;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    .landing-testimonials {
      display: none; } }
  .landing-testimonials video {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 9; }
  .landing-testimonials_row {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .landing-testimonials_row .testimonial {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 7.5px 20px 7.5px 5px;
      background-color: rgba(255, 255, 255, 0.7);
      /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
      .landing-testimonials_row .testimonial_col-1 {
        width: 17.5%;
        align-self: center; }
        .landing-testimonials_row .testimonial_col-1 img {
          width: 145px;
          height: 145px;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
          opacity: 1; }
      .landing-testimonials_row .testimonial_col-2 {
        width: 80%; }
        .landing-testimonials_row .testimonial_col-2 h2 {
          margin: 10px 0 10px 0; }
          .landing-testimonials_row .testimonial_col-2 h2 small {
            font-size: .7rem;
            font-weight: 400; }
        .landing-testimonials_row .testimonial_col-2 p {
          line-height: 1.9;
          letter-spacing: 1px;
          text-align: justify; }
      .landing-testimonials_row .testimonial:not(:last-child) {
        margin: 0 0 40px 0; }
      @media (max-width: 1029px) {
        .landing-testimonials_row .testimonial:nth-of-type(3), .landing-testimonials_row .testimonial:nth-of-type(4) {
          display: none; } }

/* ################################################## */
/* ==========================================================================
  APPARTMENT GALLERY STYLING
========================================================================== */
.appartment-gallery {
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px; }
  .appartment-gallery .image-big {
    background-color: #D3D3D3;
    grid-column: 1 / 2;
    grid-row: 1 / 3; }
    .appartment-gallery .image-big img {
      width: 100%;
      height: 100%; }
  .appartment-gallery .image-small {
    background-color: #D3D3D3; }
    .appartment-gallery .image-small img {
      width: 100%;
      height: 100%; }
    .appartment-gallery .image-small:nth-of-type(1) {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .appartment-gallery .image-small:nth-of-type(2) {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    .appartment-gallery .image-small:nth-of-type(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .appartment-gallery .image-small:nth-of-type(4) {
      grid-column: 3 / 4;
      grid-row: 2 / 3; }
  .appartment-gallery .image-big, .appartment-gallery .image-small {
    transition: .3s all; }
    .appartment-gallery .image-big:hover, .appartment-gallery .image-small:hover {
      transform: scale(1.02); }

/* ==========================================================================
  APPARTMENT CONTENT STYLING
========================================================================== */
.appartment-content {
  width: 90%;
  margin: 12.5vh auto 2.5vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .appartment-content_text {
    width: 70%; }
    .appartment-content_text h1 {
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .appartment-content_text h2 {
      margin: 0;
      letter-spacing: 1px; }
      .appartment-content_text h2:nth-of-type(1) {
        margin: 0 0 2vh 0; }
      .appartment-content_text h2:nth-of-type(2) {
        margin: 5vh 0 0 0; }
      .appartment-content_text h2:nth-of-type(3) {
        margin: 5vh 0 0 0; }
      .appartment-content_text h2:nth-of-type(4) {
        margin: 5vh 0 0 0; }
      .appartment-content_text h2:nth-of-type(5) {
        margin: 5vh 0 1vh 0; }
    .appartment-content_text p {
      line-height: 1.9;
      letter-spacing: 1px;
      margin: 0 0 30px 0; }
    .appartment-content_text ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      padding: 0; }
      .appartment-content_text ul li {
        margin: 0 35px 12.5px 0;
        letter-spacing: 1px; }
        .appartment-content_text ul li::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f14a";
          color: #0099FF;
          margin: 0 3px 0 0; }
    .appartment-content_text .infobar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      .appartment-content_text .infobar .box {
        padding: 2.5vh 0 7.5vh 0;
        letter-spacing: 1px;
        align-content: center; }
        .appartment-content_text .infobar .box i {
          font-size: 1.6rem;
          margin: 0 10px 0 0;
          color: #A0A0A0; }
        .appartment-content_text .infobar .box:nth-of-type(1) {
          width: 45%; }
        .appartment-content_text .infobar .box:nth-of-type(2), .appartment-content_text .infobar .box:nth-of-type(3), .appartment-content_text .infobar .box:nth-of-type(4) {
          width: 17%; }
    .appartment-content_text .map {
      height: 45vh;
      margin: 15vh 0 10vh 0;
      box-shadow: 10px 20px 20px #888888; }
      .appartment-content_text .map iframe {
        width: 100%;
        height: 100%; }
    .appartment-content_text .ausstattung .free {
      margin: 0 0 10px 0; }
      .appartment-content_text .ausstattung .free span {
        padding: 5px 5px 5px 12.5px;
        margin: 0 10px 0 0;
        background-color: green;
        color: #fff; }
  .appartment-content_booking {
    width: 22.5%;
    height: 50vh;
    background-color: #D3D3D3;
    box-shadow: 10px 20px 20px #888888; }

/* ################################################## */
/* ==========================================================================
  IMPRESSUm STYLING
========================================================================== */
.impressum-wallpaper {
  height: 20vh;
  background-color: #008000; }

.impressum h1 {
  letter-spacing: 1px;
  text-transform: uppercase; }
  .impressum h1:nth-of-type(1) {
    margin: 50px 0 30px 0; }
  .impressum h1:nth-of-type(2) {
    margin: 75px 0 30px 0; }

.impressum h2 {
  margin: 0 0 10px 0; }

.impressum p {
  width: 70%;
  line-height: 1.9;
  letter-spacing: 1px;
  text-align: justify; }

/* ################################################## */
/* ==========================================================================
  FOOTER STYLING
========================================================================== */
footer {
  width: 100%;
  margin: 2vh 0 2.5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*
  @if $breakpoint == desktop {
    @media (max-width: $breakpoint-desktop) { @content};
    // MIN = 1200px
  }
  */ }
  @media (max-width: 1029px) {
    footer {
      width: 95%;
      margin: 2vh 2.5vw 2.5vh 2.5vw; } }
  footer nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0; }
    footer nav ul li {
      margin: 0 0 0 25px;
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      letter-spacing: 1px; }
      footer nav ul li a {
        text-decoration: none;
        color: #000; }
