

/* ==========================================================================
  FOOTER STYLING
========================================================================== */

footer {
  width: 100%;
  margin: 2vh 0 2.5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & nav {

    & ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;

      & li {
        margin: 0 0 0 25px;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;

        & a {
          text-decoration: none;
          color: $color-text-dark;
        }
      }
    }
  }
}
